@page
@model Mission9Assignment.Pages.CartCompletedModel
@{
}

<div class="text-center">
    <h2>Thanks for your purchase!</h2>
    <br />
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>